In [356]:
import pandas as pd
pd.set_option('display.max_rows', 1000)
from datetime import datetime

In [357]:
df = pd.read_csv('C:\\Users\\ighos\\Downloads\\Work Shifts.csv')

In [358]:
#drop useless columns
df = df.drop(columns = ['Break', 'Notes'])

In [359]:
#drop useless row
df = df.drop([1268])

In [360]:
#extract day of week from 'Date'
df[['DoW', 'Date']] = df['Date'].str.split(',', expand = True)

In [361]:
#remove all the spaces
df['Date'] = df['Date'].str.strip()

In [362]:
#extract Month and Day from 'Date'
df[['Month', 'Day']] = df['Date'].str.split(' ', expand = True)

In [363]:
df = df.drop(columns = ['Date'])

In [364]:
df['Year'] = ''
df.head()

  Shift Start Shift End  Hours  DoW Month Day Year
0     8:00 AM   4:00 PM   8.00  Mon   Nov  19
1     8:00 AM   4:00 PM   8.00  Tue   Nov  20
2     8:00 AM   7:00 PM  11.00  Wed   Nov  21
3     8:00 AM   4:30 PM   8.50  Mon   Nov  26
4     8:00 AM   5:00 PM   9.00  Tue   Nov  27

In [365]:
#our dataset starts from 2018, so let's add a column with year
year = 2018
for i in range (len(df)):
    if df.iloc[i,4] == 'Jan' and df.iloc[i-1,4] == 'Dec':
        year += 1
    df.iloc[i,6] = year

In [366]:
#convert columns to string 
df['Month'] = df['Month'].astype('string')
df['Day'] = df['Day'].astype('string')
df['Year'] = df['Year'].astype('string')
df['DoW'] = df['DoW'].astype('string')

In [367]:
#combine 'Date' column
df['Date'] = df['Month'] + '-' + df['Day'] + '-' + df['Year']

In [368]:
#convert 'Date' type from string to datetime
df['Date'] = pd.to_datetime(df['Date'], format = '%b-%d-%Y')

In [369]:
#drop useless columns
df = df.drop(columns=['Month', 'Day', 'Year'])

In [370]:
#format shift time columns to time format
df['Shift Start'] = df['Shift Start'].astype('string')
df['Shift End'] = df['Shift End'].astype('string')
df['Shift Start'] = pd.to_datetime(df['Shift Start'], format = '%I:%M %p').dt.strftime('%H:%M')
df['Shift End'] = pd.to_datetime(df['Shift End'], format = '%I:%M %p').dt.strftime('%H:%M')

In [371]:
#find and drop rows with 0 hours
df[df['Hours'] == 0]

     Shift Start Shift End  Hours  DoW       Date
1239       17:56     17:56   0.00  Tue 2023-07-18

In [372]:
df = df.drop([1239])

In [373]:
#convert shift time columns to datetime format
%%timeit
df['Shift Start'] = pd.to_datetime(df['Date'].astype('string')+df['Shift Start'].astype('string'), format = '%Y-%m-%d%H:%M')

ValueError: time data '2018-11-192018-11-19 08:00:00' does not match format '%Y-%m-%d%H:%M' (match)

In [375]:
%%timeit
df['Shift End'] = pd.to_datetime(df['Date'].astype('string')+df['Shift End'].astype('string'), format = '%Y-%m-%d%H:%M')

ValueError: time data '2018-11-192018-11-19 16:00:00' does not match format '%Y-%m-%d%H:%M' (match)

In [376]:
df.dtypes

Shift Start    datetime64[ns]
Shift End      datetime64[ns]
Hours                 float64
DoW                    string
Date           datetime64[ns]
dtype: object

In [377]:
#enjoy the result
df.head(10)

          Shift Start           Shift End  Hours  DoW       Date
0 2018-11-19 08:00:00 2018-11-19 16:00:00   8.00  Mon 2018-11-19
1 2018-11-20 08:00:00 2018-11-20 16:00:00   8.00  Tue 2018-11-20
2 2018-11-21 08:00:00 2018-11-21 19:00:00  11.00  Wed 2018-11-21
3 2018-11-26 08:00:00 2018-11-26 16:30:00   8.50  Mon 2018-11-26
4 2018-11-27 08:00:00 2018-11-27 17:00:00   9.00  Tue 2018-11-27
5 2018-11-28 08:00:00 2018-11-28 17:00:00   9.00  Wed 2018-11-28
6 2018-11-29 08:00:00 2018-11-29 17:30:00   9.50  Thu 2018-11-29
7 2018-11-30 08:00:00 2018-11-30 17:00:00   9.00  Fri 2018-11-30
8 2018-12-03 08:00:00 2018-12-03 17:00:00   9.00  Mon 2018-12-03
9 2018-12-05 08:00:00 2018-12-05 18:00:00  10.00  Wed 2018-12-05

In [378]:
#save to a csv file
df.to_csv('C:\\Users\\ighos\\Downloads\\Work_Shifts_Cleaned.csv')